RewriteEngine On

#URL AMIGABLE

#cabecera
RewriteRule ^inicio/?$ index.php [L]
RewriteRule ^cerrarsesion/?$ index.php?controller=Sesion&action=cerrarSesion [L]

    ##logo
    RewriteRule ^logo/?$ assets/img/logo.png [L]


#Registro usuario
RewriteRule ^registro/?$ index.php?controller=Sesion&action=registro [L]
    ##registrar
    RewriteRule ^registrarse/?$ index.php?controller=Sesion&action=registrarse [L]

#Login usuario 
RewriteRule ^iniciarsesion/?$ index.php?controller=Sesion&action=iniciar [L]
RewriteRule ^iniciasesion/?$ index.php?controller=Sesion&action=iniciaSesion [L]




